*.env
*.DS_STORE
*.cache

PythonServer/.venv
PythonServer/spotify-cache/spotify_token.json
*/__pycache__
*.pyc

LEDDisplay/libraries/*
!LEDDisplay/libraries/LEDCore/
LEDDisplay/libraries/LEDCore/src/config.h
!LEDDisplay/libraries/LEDWidgets/
!LEDDisplay/libraries/ESP32_HUB75_LED_CUSTOM/
